.accueil {
  section {
	background: linear-gradient(rgba(255, 255, 255, .35), rgba(255, 255, 255, 0.35)),url('../../assets/img/dashboard.jpg');
	height: 90vh;
    background-size: cover;
    width: 100%;
	.container-text {
	  color:black;
	  h1 {
		font-weight: bold;
	  }
	}
  }
}
