.profile {
  background: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), url(../../assets/img/Step_1.jpg);
  background-size: cover;
  font-size: .9em;
  .row {
	margin: 0;
  }
  hr {
	margin-top: .5rem;
	margin-bottom: .5rem;
  }
  div.left {
	img {
	  width: 200px;
	  border-radius: 50%;
	  margin: 0 auto 20px;
	}
  }
  div.right {
	.identity {
	  .names {
		display: flex;
		.prenom {
		  margin-left: 10px;
		}
	  }
	  span {
		font-weight: bold;
	  }
	  .avis {
		text-align: center;
		img {
		  width: 35px;
		}
	  }
	}
  }
  div.bottom {
	margin: 0 auto 20px;
	form {
	  //text-align: center;
	  label {
		font-weight: bold;
		display: block;
	  }
	  input, textarea, select {
		width: 85%;
		//margin: 0 auto;
		float: left;
		max-width: 400px;
	  }
	  button {
		//display: block;
		//text-transform: capitalize;
		width: 15%;
		float: left;
		font-size: 1em;
		&:before {
		  content: 'Ok';
		}
	  }
	  small {
		width: 70%;
	  }
	}
  }
}
