.profile {
  .row {
	margin:0;
  }
  div.left {
	img {
	  width: 200px;
	  border-radius: 50%;
	}
  }
  div.right {
	.identity {
	  span {
		font-weight: bold;
	  }
	  }
	  form {
		label {
		font-weight: bold;
		  display:block;
		}
		input {

		}
		button {
		  display:block;
		}
	  }

  }

}
